<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="'Adopt A Pet'">
  <ion-content has-header="true" has-tabs="true">
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Your name</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Your email</span>
        <input type="email">
      </label>
      <ion-toggle>Subscribe To Newsletter</ion-toggle>
      <button class="button button-positive button-block">Adopt</button>
    </div>
  </ion-content>
</ion-view>
